.news__card {
    max-height: 482px;
    
    &.card { 
        overflow-y: auto;
        overflow-x: hidden;
    }

    &-list {
        &-item {
            &-meta {
                border-top: 1px solid #edf0f5;

                &-top {
                    display: flex;
                    justify-content: space-between;
                    padding: 1px 10px;
                }

                &-title {
                    padding: 1px 10px;

                    &-link {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: blue;
                        }
                    }
                }

                &-description {
                    padding: 10px;

                    &-accordion {
                        cursor: pointer;
                        color: #000000;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}